<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" defaultLanguage="C#" />
    
    <httpRuntime targetFramework="4.5" maxRequestLength="10000"  executionTimeout = "600"  />


    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <sessionState timeout="3600" />
    <customErrors defaultRedirect="Erro.aspx" mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="Login.apsx" name=".ASPXFORMSAUTH" protection="All" />
    </authentication>
  <pages>
    <namespaces>
      <add namespace="System.Web.Optimization" />
    </namespaces>
    
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls></pages></system.web>
  <connectionStrings>
    <!--<add name="EPC" connectionString="Server=10.11.0.51\Diversos;Database=EPC;User Id=Aplicacao_EPC;Password=appSystemEPC" />
    <add name="PMWeb" connectionString="Server=10.11.0.51\PMWeb;Database=PMWeb;User Id=Aplicacao_EPC;Password=appSystemEPC; Min Pool Size=5;Max Pool Size=2500; Connect Timeout=3" />
    <add name="PMWebFiles" connectionString="Server=10.11.0.51\PMWeb;Database=PMWeb$Files;User Id=Aplicacao_EPC;Password=appSystemEPC;" />-->
    <add name="EPC" connectionString="Server=10.11.5.26\PMWeb;Database=EPC_HOMO;User Id=testes.sistemas;Password=testes.sistemas" />
    <add name="PMWeb" connectionString="Server=10.11.5.26\PMWeb;Database=pmweb_Homologacao;User Id=testes.sistemas;Password=testes.sistemas; Min Pool Size=5;Max Pool Size=250; Connect Timeout=3" />
    <add name="PMWebFiles" connectionString="Server=10.11.5.26\PMWeb;Database=PMWeb$Files3;User Id=sa;Password=Dsipos2))$;" />

  </connectionStrings>
  <appSettings>
    <!-- Local
   <add key="UploadDirectory" value="C:\Users\rafael.marques\BKP_RAFAEL\Desktop\EPC2\trunk\Rohr.EPC.Web\Imagens\UploadFotos" /> -->
    <!--Homologação(Máquina Local)-->
    <add key="UploadDirectory" value="C:\inetpub\wwwroot\EPC_Home\Imagens\UploadFotos" />

    <!--Homologação
     <add key="UploadDirectory" value="C:\inetpub\wwwroot\EPC_Homo\Imagens\UploadFotos" />-->

    <!-- produção -->
    <!-- <add key="UploadDirectory" value="C:\Work\epc_Edit\ProjetoVS\trunk\Rohr.EPC.Web\Imagens\UploadFotos" /> -->
  </appSettings>
    
    
    <add name="dneConnectionString" connectionString="Data Source=10.11.5.26\PMWeb;Initial Catalog=dne;User Id=hugo.alames;Password=Aqamns178267!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Allow 1GB uploads -->
        <requestLimits maxAllowedContentLength="1073741824"></requestLimits>
      </requestFiltering>
    </security>
    <urlCompression doStaticCompression="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
