<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CKEditor.net" version="1.0.0" targetFramework="net451" />
  <package id="EO.Base" version="17.0.53.0" targetFramework="net451" />
  <package id="EO.Pdf" version="6.0.35" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net451" />
</packages>